.main-container {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}



.main-header {
display: flexbox;
justify-content: center;
}


.links {
    font-size: 0.8em;
    display: flex;
    list-style-type: none;
    justify-content: space-around;

    
}
.header2 {
   
    
    
    
}

}