.main-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: pink;
     }
            
  
 
 .Infos {display: flex;
     flex-direction: column;
     align-items: baseline;
     color: blue;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
     
 }
 
 @media screen and (min-width: 992px){
    .container {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .links {
        width: 931px;
    }
}


 
 .CV {display: flex;
     flex-direction: row;
     align-items: center;
    
     justify-content: space-around; 
     border-radius: 6px;
     color: teal;
     background-color: turquoise;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 
 .Comp1 { display: flex;
     align-items: flex-end;
     flex-direction: column;
     color: blue;
     font-size: 15px;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     justify-content: space-between;
 
 }
 
 
 .Compétences {
     display: flex;
     align-items: center;
     flex-direction: column-reverse;
     flex-wrap: nowrap;
     color: blue;
     font-size: 15px;
     padding: 0;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     justify-content: space-around;
     
     
 }
 
 .imgfond {
     background-image: url(https://fr.freepik.com/vecteurs-premium/fond-developpement-web-violet_9432061.htm#page=1&query=developpement%20web&position=26);
 }
 
 .Competence {
     display: flex;
     align-items: center;
     justify-content: space-around; 
     color: teal;
     text-decoration: underline;
     border-radius: 6px;
     background-color: turquoise;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 
 
 .Exp {
     display: flex;
     align-items: flex-end;
     flex-grow: 1;
     justify-content: space-around; 
     color: teal;
     margin-left: 8px;
     border-radius: 6px;
     text-decoration: underline;
     margin-right: 8px;
     background-color: turquoise;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 
 .ExperiencePro {
     display: flex;
     align-items: center; 
     justify-content: space-around;
     color: teal;
     font-size: 1em;
     padding: 0;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 .Loisirs {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-around; 
     margin-left: 8px;
     margin-right: 8px;
     border-radius: 6px;
     text-decoration: underline;
     color: teal;
     background-color: turquoise;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 .ExperiencePro {
     display: flex;
     align-items: center;
     flex-direction: column;
     justify-content: space-around;
     color: blue;
     
 }
 
 .Activités {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between ;
     font-size: 1em;
     color: blue;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 


 .Phrase {
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     color: blue;
     font-size: 1em;
     font-style: italic;
     text-decoration: underline;
    
 }
 
 
 .button {
     display: flex;
     align-items: center;
     flex-direction: row;
    justify-content: space-around;
    border-bottom: none;
     cursor: pointer;
    color: blueviolet;
     margin-top: 50px;
    
     
 }
 
 .button :hover {
     
     background-color: rgb(136, 180, 14);
     
 }
 
 .Twitter {
     border: none;
     background-color: cadetblue;
     height: 50px;
     text-decoration: rgb(233, 25, 25);
     border-radius: 6px;
     border: white;
     transition: background-color 1.5s, width 1s;
     
 }
 
 .Twitter :hover {
     color: rgb(86, 86, 230);
 }
 .Facebook {
     border: none;
     background-color: cadetblue;
     height: 50px;
     border-radius: 6px;
     transition: background-color 1.5s, width 1s;
 }
 
 .Facebook :hover {
     color: blue;
 }
 
 
 .Insta {
     border: none;
     background-color: cadetblue;
     height: 50px;
     border-radius: 6px;
     transition: background-color 1.5s, width 1s;
 }
 
 .Insta :hover {
     color: rgba(255, 0, 43, 0.795);
 }