body {
    background-color: #e2e2e2;
}

.card {
    margin: 5px;
    background-color: white;

    height: 300px;
    width: 450px;

    padding: 5px;

    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 
                0px 1px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
    font-family: 'Montserrat', sans-serif;
}

.img {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
}

.card:hover {
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2),
                0px 10px 15px rgba(0, 0, 0, 0.2);
}

.content {
    text-align: center;
    font-family: 'Merriweather', serif;
}

.card img {
    border-radius: 100%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 
                0px 1px 2px rgba(0, 0, 0, 0.2);
}
